# EXPLORATION_14 아이유팬이 좋아할만한 다른 아티스트 찾기

## 데이터 탐색하기와 전처리

### 데이터 준비

<준비물>   
more ~/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv   
=> 이거 cloud shell 에서 하면 이상하게 엄청 많이 뜨는데 정상임

=> 이렇게 하면 우리가 평소에 알던 csv파일이 아니라 tsv 파일이다. tsv는 Tab-Separated Values의 약자임.csv파일의 약자는 Comma-Separated Values 여서 결국에는 csv파일은 comma로 구분하지만 tsv는 "tab('\t')문자를 활용해서 구분자로 사용한다는 것이다. 이런 tsv 텍스트 파일은 pandas로 read_csv메서드로 충분히 열어볼 수 있음

In [1]:
## 필요한 모듈 import 해주기
## 위에서 말했던 것 처럼 pandas를 사용해서 데이터를 열어보자!

import pandas as pd
import os

In [2]:
## 위에 보면 데이터의 컬럼명이 포함되지 않아서 
## col_names 이라는 변수로 컬럼명을 지정해주겠다!

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   ## 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      ## sep='\t'로 주어야 tsv를 열 수 있다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

위에 나온 데이터를 보면 우리가 불 필요한 컬럼들까지 같이 포함 되어있는 것을 알 수 있다.   
=> 그래서 밑에 코드처럼 우리가 사용하는 컬럼들만 남겨주면 좋겠지유???

In [3]:
## 사용하는 컬럼만 남겨준다.

using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
## 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔준다.

data['artist'] = data['artist'].str.lower() 
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [5]:
## 첫 번째 유저가 어떤 아티스트의 노래를 듣는지 확인해보기!

condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

### 데이터 탐색

데이터의 기본정보를 알고 가자!   
- 유저수, 아티스트 수, 인기 많은 아티스트  
- 유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계  
- 유저 play 횟수 중앙값에 대한 통계  

** pandas.DataFrame.nunique() 은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용함 **

In [6]:
## 유저 수
data['user_id'].nunique()

358868

In [7]:
## 아티스트 수
data['artist'].nunique()

291346

In [8]:
## 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [9]:
## 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [10]:
## 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

### 모델 검증을 위한 사용자 초기 정보 세팅

본

In [11]:
## 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

## 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       ## 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

### 모델에 활용하기 위한 전처리 (실습)

In [12]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [13]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [14]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

------------훈련을 위한 전처리완료~ ----------------

## 사용자의 명시적/암묵적 평가

In [15]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

## Matrix Factorization(MF)  
=> 설명만

## CSR(Compressed Sparse Row) Matrix

In [16]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## MF 모델 학습하기

Matrix Factorization 모델을 implicit 패키지를 사용하여 학습해 봅시다.

In [17]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [18]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [19]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [20]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [21]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [22]:
zimin_vector

array([ 0.6774124 , -0.41772288,  0.58813256,  0.23169415,  0.86340815,
        0.9475274 , -0.07381136, -0.9086925 , -1.5364984 ,  0.6687866 ,
       -0.8442072 ,  0.80343807,  0.45947793, -0.53125817, -1.7490523 ,
       -0.32773682,  0.144754  , -0.8675114 , -0.14813973,  0.5625055 ,
       -0.96897864,  0.73587686,  0.15356714, -1.5297544 ,  0.16595206,
       -0.39178595, -0.8002862 , -0.12531672,  0.29784474, -0.00645931,
        0.02620314, -0.3427873 ,  1.2310603 , -0.41347462,  0.00496116,
        1.2564353 ,  0.45907274,  1.7742436 ,  1.0134717 , -0.24663545,
       -0.36689183, -0.0979157 , -1.1342348 , -0.2582318 , -1.4130669 ,
       -0.2543947 ,  0.50264627,  0.43792066,  0.01652852,  0.6305746 ,
        0.38116512, -0.20387378, -0.7828033 ,  0.8950736 ,  0.12020721,
        0.5998042 , -0.5020888 ,  0.7194627 ,  0.07822125,  0.5423857 ,
       -0.35260853, -0.052974  , -1.6379088 ,  0.5039285 , -0.29149485,
        0.02342984, -0.29228103, -0.50413704, -0.5955317 ,  0.7155574 ,
        0.1960856 , -0.61903137, -0.48341447,  0.23905915,  0.25501567,
        0.34833717, -0.37926868, -0.11999084,  0.37404194,  0.18458255,
        0.30587643,  0.5595383 ,  0.37546828,  0.40894368, -0.05256463,
       -0.7460345 ,  0.44936088,  0.04419942, -0.43470746,  1.171847  ,
       -0.83037734,  0.52637285, -0.20459923,  0.20842668,  0.41456145,
        0.70315856,  0.85520446,  0.95489764,  0.2552524 , -0.07228802],
      dtype=float32)

In [23]:
black_eyed_peas_vector

array([ 0.01771892,  0.0073869 ,  0.00403006, -0.00628774,  0.01411183,
        0.02172636,  0.00376098, -0.01650931, -0.0155108 ,  0.02115212,
        0.00014847,  0.02630956,  0.01105187,  0.00919933, -0.02269698,
        0.01589525, -0.00011894,  0.00512684,  0.01683281,  0.0193608 ,
       -0.00630294,  0.00973378,  0.00710606, -0.00721098,  0.02249515,
       -0.00316976,  0.01945111, -0.01425941,  0.01145684,  0.0085134 ,
        0.00439605, -0.00418555,  0.01829745,  0.02577499,  0.00647518,
        0.02334552,  0.00828623,  0.02457115, -0.00221202,  0.0062256 ,
       -0.00303298, -0.0045673 ,  0.00681937,  0.01306612, -0.02280984,
        0.01266036,  0.01596506,  0.00433057,  0.00171804,  0.01491344,
        0.004666  ,  0.00693343, -0.00184472,  0.01901686,  0.01595343,
        0.00694342, -0.00446263,  0.01998853,  0.01145159,  0.00750707,
        0.00554282, -0.01026421, -0.0168502 ,  0.00743517,  0.00797748,
        0.00388201,  0.01069316,  0.00556888,  0.00833312,  0.01712857,
        0.00689852,  0.00506785, -0.00141088, -0.00584485,  0.01563363,
        0.02717701, -0.00321451,  0.0104    ,  0.00036217,  0.01323327,
        0.00048193,  0.00112028,  0.00064331,  0.00612861,  0.00635551,
        0.00221432,  0.01491853,  0.00147416,  0.00177111,  0.02656909,
       -0.00066555,  0.00750216, -0.01136116,  0.01927389,  0.01849579,
        0.01681762,  0.02792466,  0.02185586,  0.01453811,  0.00494457],
      dtype=float32)

In [24]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.50627226

In [25]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.31008863

## 비슷한 아티스트 찾기 + 유저에게 추천하기

### 비슷한 아티스트 찾기

In [26]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0),
 (277, 0.98570853),
 (28, 0.9836197),
 (5, 0.98110986),
 (490, 0.9760301),
 (217, 0.9754857),
 (247, 0.9728519),
 (473, 0.96736324),
 (418, 0.9636902),
 (694, 0.9564049),
 (910, 0.9540485),
 (268, 0.9478342),
 (782, 0.94568986),
 (1018, 0.9426736),
 (55, 0.9416081)]

In [27]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'oasis',
 'radiohead',
 'the beatles',
 'placebo',
 'u2',
 'foo fighters',
 'nirvana',
 'pink floyd',
 'the white stripes',
 'the smashing pumpkins',
 'arctic monkeys']

In [28]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [29]:
get_similar_artist('2pac')

['2pac',
 'nas',
 'the game',
 'notorious b.i.g.',
 'dr. dre',
 '50 cent',
 'snoop dogg',
 'jay-z',
 'ludacris',
 'bone thugs-n-harmony']

In [30]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'justin timberlake',
 'mariah carey',
 'pink']

### 유저에게 아티스트 추천하기

In [31]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.4562687),
 (369, 0.45407057),
 (550, 0.44401097),
 (274, 0.44219297),
 (1800, 0.42882842),
 (2249, 0.4211411),
 (901, 0.41943443),
 (355, 0.40527114),
 (354, 0.39727503),
 (5555, 0.39645395),
 (391, 0.39478618),
 (627, 0.39346004),
 (564, 0.37579137),
 (724, 0.3663457),
 (618, 0.3657593),
 (621, 0.36443967),
 (1777, 0.3638811),
 (409, 0.3630972),
 (637, 0.35736567),
 (382, 0.35389623)]

In [32]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'justin timberlake',
 'britney spears',
 'michael jackson',
 'lady gaga',
 'katy perry',
 'pink',
 'madonna',
 'nelly furtado',
 'timbaland',
 'christina aguilera',
 'maroon 5',
 'kanye west',
 'lily allen',
 'the pussycat dolls',
 'alicia keys',
 'mariah carey',
 'amy winehouse',
 'akon',
 'mika']

In [33]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [34]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.21833055621484582),
 ('black eyed peas', 0.13828645795114905),
 ('jason mraz', 0.058878942532913855),
 ('coldplay', 0.04241891091225416),
 ('maroon5', 0.0002247017675082819)]